@model MamcheAmAm.Web.ViewModels.RecipesViewModels.CreateRecipeInputModel
@{
    this.ViewData["Title"] = "Create new recipe";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<br />
<h4 class="text-center">Please fill as much information as you can</h4>

<form method="post" class="col-md-8 offset-md-2" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions"></label>
        <textarea asp-for="Instructions" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="@this.ViewBag.Category">
            <option value="" selected disabled>Please select your category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="Images" class="custom-file-input" id="imgFiles" />
            <label class="custom-file-label" for="imgFiles">Select up to 5 photos</label>
        </div>
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Images">Select up to 5 photos: </label>
        <input asp-for="Images" class="custom-file" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PreparationTime"></label>
        <input asp-for="PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CookingTime"></label>
        <input asp-for="CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Portions"></label>
        <input asp-for="Portions" class="form-control" />
        <span asp-validation-for="Portions" class="text-danger"></span>
    </div>
    <!-- TODO: make better ingredients UI -->
    <div id="Ingredients">
        <label asp-for="Ingredients"></label>
        <div class="form-group">
            <a class="btn btn-primary" id="moreIngredients" onclick="moreIngredients()" data-toggle="tooltip" data-placement="right" title="There should be atleast 1 ingredient.">Add Ingredinets</a>
            <hr />
            <p>There should be atleast 1 'Ingredient' with filled 'Quantity'. Digits are not allowed in the 'Ingredient name'.</p>
            <hr />
        </div>
    </div>
    <div id="AttachIngredients"></div>
    <div class="form-group">
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" />
</form>
@section Scripts{
<script>
    let ingredientsIndex = 0;
    let count = 1;

    function moreIngredients(){
        const AttachIngredients = document.getElementById('AttachIngredients');

        let formDiv = document.createElement('div');
        formDiv.setAttribute('class', 'form-row');
        let br = document.createElement('BR');

        let ingredientDiv = document.createElement('div');
        ingredientDiv.setAttribute('class', 'col');

        let ingredient = document.createElement('input')
        ingredient.setAttribute('class', 'form-control');
        ingredient.setAttribute('type', 'text');
        ingredient.setAttribute('name', `Ingredients[${ingredientsIndex}].IngredientName`);
        ingredient.setAttribute('placeholder', `${count}. Ingredient name`);

        ingredientDiv.appendChild(ingredient);

        let quantityDiv = document.createElement('div');
        quantityDiv.setAttribute('class', 'col');

        let quantity = document.createElement('input');
        quantity.setAttribute('class', 'form-control');
        quantity.setAttribute('type', 'text');
        quantity.setAttribute('name', `Ingredients[${ingredientsIndex}].Quantity`);
        quantity.setAttribute('placeholder', `${count}. Ingredient Quantity`);

        quantityDiv.appendChild(quantity);

        formDiv.appendChild(ingredientDiv);
        formDiv.appendChild(quantityDiv);

        AttachIngredients.appendChild(formDiv)
        ingredientsIndex += 1;
        count += 1;
    }
</script>
}